<form action="/dashboard/addstation" method="POST">
<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <label class="label">Station Name</label>
      <input class="input" type="text" placeholder="Enter Station Name" name="title">
    </div>
    <div class="field">
      <label class="label">Station Latitude</label>
      <input class="input" type="text" placeholder="Enter Station Latitude" name="latitude">
    </div>
    <div class="field">
      <label class="label">Station Longitude</label>
      <input class="input" type="text" placeholder="Enter Station Longitude" name="longitude">
    </div>
    </div>
  </div>
  <button class="button is-link">Add Station</button>
</form>