<!DOCTYPE html>
<!-- Defining document type -->
<html lang="en-IE">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Title of document will be passed in here using handlebars -->
  <title>{{title}}</title>
  <!-- Linking in bulma CSS framework which is used throughout the project -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="container">
    <!-- plaveholder for html to be inserted using handlebars -->
    {{{body}}}
  </div>
</body>

</html>