<!-- html for about view with a small description of the web app -->
{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTop
  </h3>
  <div class="section">
    <p>
      A web app for storing and displaying weather stations and reports
    </p>
  </div>
</section>