<!-- html for dashboard view which uses handlebars to put other sections of html together to make a complete dashboard -->
{{> menu active="dashboard"}}

<section class="section">
  {{> list-stations}}
  {{> add-station}}
</section>