<!-- html for the inital landing spot on the web app, uses the welcome menu and asks user to log in and sign up -->
{{> welcome-menu}}

<section class="section">
  <p> Sign up or Log in... </p>
</section>