<!-- html for station view for when the user clicks into a station, shows summary view, lists reports and allows the user to add a new report -->
{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>

  {{#if hasReports}}
    {{> summary}}
  {{/if}}

  {{> list-reports}}
  {{> add-report}}
</section>